head {
    text-align: left;
}
h1 {
    color: red;
    text-align: center;
}
body {
    background-image: url(2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    
    text-align: left;
    color: black;
    font-family: arial, sans-serif;
}
p {
    color: black;
}
