header {
    background-color: pink;
    text-align: left;
    padding: 20px;

}

footer {
    background-color: yellowgreen;
    text-align: left;
    padding: 20px;
}
body {
    background-image: url(2.jpg);
    text-align: left;
    font-size: large;
    padding: 20px;
}
p {
    color: black;
    text-align: left;
    padding: 20px;
}

h1 {
    color: red;
    text-align: center;
    padding: 20px;
}
h2 {
    color: darkblue;
    padding: 20px;
    text-align: center;

}
h3 {
    color: green;
text-align: center;
    padding: 20px;

}